<% if @friend %>

    <h1> <%= @friend.name %> </h1>

    <p> Do you really want to become friends with <%= @friend.name %>?</p>

    <%= form_for @user_friendship, method: :post do |f| %>
        <div class="form form-actions">
            <%= f.hidden_field :friend_id, value: @friend.id %>
            <%= submit_tag "Yes, Add Friend", class: 'btn btn-primary' %>
            <%= link_to "Cancel", user_path(@friend), class: 'btn' %>
        </div>

    <% end %>

<% end %>

