<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<div class="page-header">
    <h1> <%= @user.name %> </h1>
    <%= link_to "Add Friend", user_friendships_new_path(friend_id: @user), class:'btn'%>
</div>
